/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --main-tittle-color: rgba(255, 194, 230, 1);
  --main-color: rgba(255, 141, 203, 1);
  --header__theme-menu-button-hover: rgba(50, 49, 45, 0.4);
  --tittle-color: rgba(53, 52, 48, 1);
  --text-answer: rgba(53, 52, 48, 1);
  --font: 'IBM Plex mono', "Arial";
  --main-font-size: 18px;
  --bg-img: url(../images/cover-image-light.png);  
}

.page.theme_light .decor-element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --main-tittle-color: rgba(255, 194, 230, 1);
  --main-color: rgba(255, 141, 203, 1);
  --header__theme-menu-button-hover: rgba(50, 49, 45, 0.4);
  --tittle-color: rgba(53, 52, 48, 1);
  --text-answer: rgba(53, 52, 48, 1);
  --font: 'IBM Plex mono', "Arial";
  --main-font-size: 18px;
  --bg-img: url(../images/cover-image-light.png);   
  }

  .decor-element {
    display: none;
  } 
}
