/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --main-tittle-color: rgba(255, 194, 230, 1);
  --main-color: rgba(255, 141, 203, 1);
  --header-theme-menu-button-hover: rgba(50, 49, 45, 0.4);
  --tittle-color: rgba(53, 52, 48, 1);
  --text-answer: rgba(53, 52, 48, 1);
  --font: 'IBM Plex mono', "Arial";
  --main-font-size: 18px;
  --bg-img: url(../images/cover-image-light.png);  
  --accent-color: rgba(53, 52, 48, 1);
  --text-shadow-hero-tittle: rgba(255, 0, 112, 1);
  --button-color: rgba(53, 52, 48, 1);
  --tittle-section-color: rgba(53, 52, 48, 1);
  --corner-color: rgba(53, 52, 48, 1);
}

.page.theme_light .decor-element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-tittle-color: rgba(255, 194, 230, 1);
    --main-color: rgba(255, 141, 203, 1);
    --header-theme-menu-button-hover: rgba(50, 49, 45, 0.4);
    --tittle-color: rgba(53, 52, 48, 1);
    --text-answer: rgba(53, 52, 48, 1);
    --font: 'IBM Plex mono', "Arial";
    --main-font-size: 18px;
    --bg-img: url(../images/cover-image-light.png);  
    --accent-color: rgba(53, 52, 48, 1);
    --text-shadow-hero-tittle: rgba(255, 0, 112, 1);
    --button-color: rgba(53, 52, 48, 1);
    --tittle-section-color: rgba(53, 52, 48, 1);
    --corner-color: rgba(53, 52, 48, 1);
  }

  .decor-element {
    display: none;
  } 


}
